
body {
  font-family: 'Roboto', sans-serif;
}


form {
  display: block;
  position: relative;
  margin:auto;
  width: 50%;
}

legend {
  text-decoration-line: underline;
  font-size: x-large;
  font-weight: 400;
}

fieldset {
  border: none;
}

span.obligatorio {
  color: red;
}

[type="text"],
[type="email"]  {
 width: 100%;
}

.contacto {
  display: block;
}

.espanol {
  display: block;
}

.contacto, .espanol {
  font-weight: bold;
}

textarea {
  width: 100%;
}

button {
  color: white;
  font-size: large;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-style: none;
  background-color: grey;
}
